html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background-color: #B5EAEA;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 658px;
    width: 453px;
    grid-template-areas:
    "display display display opDisplay"
    "seven eight nine backspace"
    "four five six divide"
    "one two three multiply"
    "decimal zero subtract add"
    "clear . equals equals";
    background-color: #EDF6E5;
    border-radius: 8px;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

button {
    background-color: #FFBCBC;
    border: none;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9999;
}

/* grid areas */

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#backspace {
    grid-area: backspace;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

[data-op = "divide"]{
    grid-area: divide;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

[data-op = "multiply"]{
    grid-area: multiply;
}

#decimal {
    grid-area: decimal;
}

#zero {
    grid-area: zero;
}

[data-op = "subtract"] {
    grid-area: subtract;
}

[data-op = "add"]{
    grid-area: add;
}

#clear {
    grid-area: clear;
}

#equals {
    grid-area: equals;
}

.display {
    grid-area: display;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    overflow-x: auto;
    background-color: grey;
    margin: 0px;
    font-size: 30px;
}

.op-display {
    grid-area: opDisplay;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    margin: 0px;
    font-size: 30px;
}