html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

/* .calculator {
    /* display: grid; */
    
    /* grid-template-rows: (2, 100px); */
/* } */ */

.displays {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "seven eight nine backspace"
    "four five six divide"
    "one two three multiply"
    "decimal zero subtract add"
    "clear . equals equals";
}

button {
    /* height: 50px;
    width: 50px;
    margin: 0px; */
}

/* grid areas */

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#backspace {
    grid-area: backspace;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

[data-op = "divide"]{
    grid-area: divide;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

[data-op = "multiply"]{
    grid-area: multiply;
}

#decimal {
    grid-area: decimal;
}

#zero {
    grid-area: zero;
}

[data-op = "subtract"] {
    grid-area: subtract;
}

[data-op = "add"]{
    grid-area: add;
}

#clear {
    grid-area: clear;
}

#equals {
    grid-area: equals;
}