html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

.calculator {
    display: grid;
    grid-template-rows: (2, 1fr);
}

.displays {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 50px);
    row-gap: 5px;
    column-gap: 5px;
}

button {
    height: 50px;
    width: 50px;
    margin: 0px;
}

#equal {
    height: 105px;
}
/* .row1 {
    display: flex;
    gap: 5px;
}

.row2 {
    display: flex;
    gap: 5px;
}

.row3 {
    display: flex;
    gap: 5px;
} */